* {
    box-sizing: border-box;
}
body {
    padding: 1rem;
    margin: 0;

    background: #333;
}
@keyframes alertColor {
    0% {background-color: #333;}
    100% {background-color: red;}
}
body.alert {
    animation-name: alertColor;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
article {
    display: flex;
    flex-wrap: wrap;
}
article > section {
    padding: 1rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
h1 {
    padding: 0 1rem;
    color: #ffffff;
    /*text-align: center;*/
}
header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div > span {
    padding: .5rem;
    margin: 1rem;
    color: white;
    text-shadow: 1px 1px 5px black, 0 0 15px black;
}
.good {
    background-color: rgba(35, 89, 196, 1);
}
.normal {
    background-color: rgba(1, 181, 110, 1);
}
.warn {
    background-color: rgba(245, 201, 50, 1);
}
.alert {
    background-color: rgba(218, 53, 57, 1);
}
body > section {
    display: flex;
    justify-content: flex-end;
}
section > div {
    margin: 1rem 0;
    /*text-align: right;*/
}
section > div > span {
    padding: .3rem .5rem .4rem .5rem;
    font-size: .95rem;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 5px black, 0 0 15px black;
}
section > div > span:first-child {
    border-radius: 10px;
}
section > div > span:nth-child(2) {
    border-radius: 10px 0 0 10px;
}
section > div > span:last-child {
    border-radius: 0 10px 10px 0;
}
.graphNBubble {
    display: flex;
}
.graphNBubble > :last-child {
    position: relative;
    width: 100px;
}
.bubble {
    margin-left: 1px;
    padding: .3rem .5rem .4rem .5rem;
    font-size: .95rem;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 5px black, 0 0 15px black;
    border-radius: 1rem .5rem 1rem 0;

    transition: bottom .5s;
    /*box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);*/
}

.pm2_5 {
    background-color: rgba(0, 166, 237, .8);
}
.pm10 {
    background-color: rgba(127, 184, 0, .8);
}